<ul>
  <li>Assisted in overseeing development of a proof-of-concept service used for granting guest users access to HBO Go, internally titled Blackforest.</li>
  <li>Gathered and evaluated Blackforest's requirements with respect to those of the existing service it was intended to supersede.</li>
  <li>Successfully presented the green-light proposal for Blackforest to an audience of approx. 15 colleagues.</li>
  <li>Directly implemented a large portion of Blackforest’s frontend, using JavaScript and Node.js.</li>
  <li>Developed a web-based tool to conveniently retrieve and display the version information for approx. 430 servers used by HBO Go.</li>
</ul>