<ul>
    <li>Assisted users in troubleshooting their use of the Linux-powered SeaWulf high-performance computing cluster.</li>
    <li>Installed and packaged software with custom environment modules and Anaconda packages.</li>
    <li>Wrote a report recommending various actions needed to bring SeaWulf in compliance with a subset of <a href="https://csrc.nist.gov/publications/detail/sp/800-171/rev-1/final" target="_blank" rel="external">NIST SP 800-171</a>, for the purpose of protecting controlled unclassified information.</li>
</ul>