<ul>
    <li>Currently aiding students with homework, language, and toolset issues in a course in computer game programming under the guidance of Prof. Richard McKenna.</li>
    <li>Led two C++ tutorials (using materials I personally prepared), each with about 40 students in attendance.</li>
    <li>Secured an 83% discount on a <a href="https://www.iforce2d.net/rube/" rel="external">level design tool</a> for the benefit of all students in the class.</li>
    <li>Fixed bugs in the course-provided game engine, ported it from DirectX to SFML, and added some new features.</li>
    <li>Also helped students with other courses on an unofficial basis.</li>
</ul>
