<ul>
  <li>Supported students in three courses in game programming and software development techniques under Prof. Richard McKenna, with a fourth in progress.</li>
  <li>Held tutorials, review sessions, and technology workshops with an average of 30 students in attendance, using materials I personally prepared.</li>
  <li>Also helped students with other courses on an unofficial basis.</li>
  <li>Arranged a discount on a <a href="https://www.iforce2d.net/rube/" rel="external">game design tool</a>, exclusively for students in the game programming course.</li>
  <li>Added features and fixed bugs in course-provided code (mostly porting it from DirectX to SFML).</li>
</ul>
