---
title: Projects
permalink: "/projects/index.html"
layout: projects
---

<nav>
    <a href="{{ " /resume " | prepend:site.baseurl }}"><i class="fa fa-chevron-left"></i> resume</a> |
    <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-home"></i> home</a>
</nav>
<br/>
<h1>Projects</h1>
<h2>Things I've Made</h2>
<section id="projects">
    {% for project in site.data.projects %}
    <article class="project">
        <header>
            <h1>
            {% if project.url %}
              <a href="{{ project.url }}" target="_blank">{{ project.name }}</a>
            {% else %}
              {{ project.name }}
            {% endif %}
            </h1>
            <h2>{{ project.tagline }}</h2>
            <br/>
            <ul class="tech">
                {% for t in project.tech %}
                <li>{{ t }}</li>
                {% endfor %}
            </ul>
        </header>

        {% if project.image %} {% if project.url %}
        <a href="{{ project.url }}" target="_blank">
            <img src="/images/{{ project.image }}" class="preview" />
        </a>
        {% else %}
        <img src="/images/{{ project.image }}" class="preview" /> {% endif %} {% else %} {% if project.url %}
        <a href="{{ project.url }}" target="_blank">
            <div class="preview">
                <span class="no-preview">No image available</span>
            </div>
        </a>
        {% else %}
        <div class="preview">
            <span class="no-preview">No image available</span>
        </div>
        {% endif %} {% endif %}
        <div class="description">
            {% if project.description %} {% include {{ project.description }} %} {% else %} No description available. {% endif %}
        </div>
    </article>
    {% endfor %}
</section>
