{% if include.item.genre %}<meta itemprop="genre" content="{{ include.item.genre }}" />{% endif %}
{% if include.item.softwareVersion %}<meta itemprop="softwareVersion" content="{{ include.item.softwareVersion }}" />{% endif %}
{% if include.item.applicationCategory %}<meta itemprop="applicationCategory" content="{{ include.item.applicationCategory }}" />{% endif %}
{% if include.item.applicationSubCategory %}<meta itemprop="applicationSubCategory" content="{{ include.item.applicationSubCategory }}" />{% endif %}
{% if include.item.isFamilyFriendly %}<meta itemprop="isFamilyFriendly" content="{{ include.item.isFamilyFriendly }}" />{% endif %}
{% if include.item.license %}<meta itemprop="license" content="{{ include.item.license }}" />{% endif %}
{% if include.item.operatingSystem %}<meta itemprop="operatingSystem" content="{{ include.item.operatingSystem }}" />{% endif %}