---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.fab.fa-google-plus-square {
  color: #dd4b39;
}

.fa.fa-solid.fa-heart {
  color: #bf3989;
}

figure {
  figcaption {
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    color: #777;
  }
}

figure.align-center {
  display: flex;
  a {
    margin-left: auto;
    margin-right: auto;
  }

  figcaption {
    width: 100%;
    text-align: center;
  }
}