---
type: CollectionPage
layout: default
---

{{ content }}

<section id="projects">
  {% for project in site.data[page.data] %}
    {% capture description %}
      {% if project.description %} {% include description/{{ project.description}} %} {% else %} No description available. {% endif %}
    {% endcapture %}

    <article class="project" itemscope itemtype="https://schema.org/{% if project.type %}{{ project.type }}{% else %}{{ page.defaultType }}{% endif %}">
      {% if page.meta_include %} {% include {{ page.meta_include }} item=project %} {% endif %}

      <header>
        <h1 itemprop="name">
          {% if project.url %}
            <a itemprop="url sameAs" href="{{ project.url }}" target="_blank">{{ project.name }}</a>
          {% else %}
            <span>{{ project.name }}</span>
          {% endif %}
        </h1>

        <h2 itemprop="headline">{{ project.headline }}</h2>

        <br/>

        <ul class="tech">
          {% for t in project.tools %}
          <li>{{ t }}</li>
          {% endfor %}
        </ul>
      </header>

      {% if project.image %}
        {% if project.url %}
          <a href="{{ project.url }}" target="_blank">
            <img src="/images/{{ project.image }}" class="preview" alt="{{ project.name }} Screenshot" title="{{ project.name }} Screenshot" width="320" height="240" itemprop="screenshot image"/>
          </a>
        {% else %}
          <img src="/images/{{ project.image }}" class="preview" alt="{{ project.name }} Screenshot" title="{{ project.name }} Screenshot" width="320" height="240" itemprop="screenshot image"/>
        {% endif %}
      {% else %}
        {% if project.url %}
          <a href="{{ project.url }}" target="_blank">
            <div class="preview">
              <span class="no-preview">No image available</span>
            </div>
          </a>
        {% else %}
          <div class="preview">
            <span class="no-preview">No image available</span>
          </div>
        {% endif %}
      {% endif %}

      <div itemprop="description" class="description">
        {{ description }}
      </div>

    </article>
  {% endfor %}
</section>
